src/test/Geckon.Octopus.Controller.Service.Test/Service References/ControllerService/ControllerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ControllerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50132/IISControllerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50132/IISControllerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IControllerService_GetSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSession" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IControllerService_AddJob_InputMessage">
    <wsdl:part name="parameters" element="tns:AddJob" />
  </wsdl:message>
  <wsdl:message name="IControllerService_AddJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddJobResponse" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetJobByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobByID" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetJobByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobs" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetJobByStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJobByStatus" />
  </wsdl:message>
  <wsdl:message name="IControllerService_GetJobByStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJobByStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="IControllerService">
    <wsdl:operation name="GetSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/GetSession" message="tns:IControllerService_GetSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/GetSessionResponse" message="tns:IControllerService_GetSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/AddJob" message="tns:IControllerService_AddJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/AddJobResponse" message="tns:IControllerService_AddJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/GetJobByID" message="tns:IControllerService_GetJobByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/GetJobByIDResponse" message="tns:IControllerService_GetJobByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/GetJobs" message="tns:IControllerService_GetJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/GetJobsResponse" message="tns:IControllerService_GetJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJobByStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IControllerService/GetJobByStatus" message="tns:IControllerService_GetJobByStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControllerService/GetJobByStatusResponse" message="tns:IControllerService_GetJobByStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Basic" type="tns:IControllerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSession">
      <soap:operation soapAction="http://tempuri.org/IControllerService/GetSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJob">
      <soap:operation soapAction="http://tempuri.org/IControllerService/AddJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobByID">
      <soap:operation soapAction="http://tempuri.org/IControllerService/GetJobByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <soap:operation soapAction="http://tempuri.org/IControllerService/GetJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJobByStatus">
      <soap:operation soapAction="http://tempuri.org/IControllerService/GetJobByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ControllerService">
    <wsdl:port name="Basic" binding="tns:Basic">
      <soap:address location="http://localhost:50132/IISControllerService.svc" />
    </wsdl:port>
    <wsdl:port name="Basic2" binding="tns:Basic">
      <soap:address location="http://localhost:50132/IISControllerService.svc/Basic" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>